<!DOCTYPE html>
<html>
<head>
    <title>SSI Hydrogen Bonds</title>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <!--angular -->
    <script src="https://code.jquery.com/jquery-1.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!--bokeh -->
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
          rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

    <!--fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!--popup script -->
    <script type="text/javascript" src="{{ url_for('static', filename='popup.js') }}"></script>

    <!--app script + styles -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!--popup-->
<a href="#?w=500" rel="info_popup" class="poplight" id="info_poplight">
    <i class="fa fa-info-circle"></i>
</a>

<div id="info_popup" class="popup_block">

    <a href="#" class="close">
        <img src="/static/close.png" class="btn_close" title="Close Window" alt="Close"/>
    </a>

    <h3>How to use</h3>
    <p>
        To view full dataset graphs, clear any existing filters with "clear filters" button on the left, then click
        "Build graphs" button on the right
    </p>
    <p>
        To build custom filter for data based on PDB attributes:
    </p>
    <ol>
        <li>Select filter type from "Header type" dropdown menu on the left</li>
        <li>Select filter value from dropdown if present, or select operator and comparison value</li>
        <li>Repeat as needed to add more filter criteria</li>
        <li>Toggle the boolean operator (and vs or) for multiple criteria</li>
        <li>To remove a filter, click the "Delete filter" button to the right of the filter</li>
        <li>When all filters are selected, click the "Submit" button to generate scatter plot data, which can be
            downloaded by clicking the "download" button
        </li>
        <li>The filters can be cleared by clicking the "clear filter" button</li>
        <li>Click the "Build graphs" button on the right to generate graphs</li>
        <li>The graphs may be customized by optionally entering a minimum bucket size, and/or by uploading a list of PDB
            IDs to filter in/out
        </li>
    </ol>
    </p>
    <p>
        <a href="mailto:wan.o@husky.neu.edu">Contact</a>
    </p>

    <a class="close" href="javascript:void(0)">close</a>
</div>

<header>

    <div class="header-container">
        <!--begin angular code-->
        {% raw %}

        <section class="app" ng-app="app" ng-controller="controller">

            <!--loading spinner-->
            <div class="spinner" ng-if="isLoading">
                <i class="fa fa-pulse fa-spinner"></i>
            </div>

            <!--build filters-->
            <span class="ng-cloak" ng-cloak>
            <div>
                <h2>Select filters</h2>
                <label>Header type</label>
                <select ng-model="header"
                        ng-init="header = 'Type'">
                    <option ng-repeat="(key, value) in labels" value="{{ key }}">{{ value }}</option>
                </select>
                <button ng-click="addFilter($event)">add filter</button>
            </div>

            <table class="filter-table" cellpadding="0" cellspacing="0">
                <tr ng-repeat="filter in filters">
                    <td>
                        <button ng-click="deleteFilter($event, $index)">delete filter</button>
                    </td>

                    <td>
                        <label>{{ filter.label }}: </label>
                    </td>

                    <td>
                        <select ng-model="filters[$index].name"
                                ng-if="!filter.numerical"
                                ng-change="cacheFilters()">
                            <option ng-repeat="col in columns[filter.header]"
                                    value="{{ col.value }}">
                                {{ col.value }}
                            </option>
                        </select>

                        <span ng-if="filter.numerical">
                        <select ng-model="filters[$index].comparator"
                                ng-change="cacheFilters()">
                            <option value="<">&lt;</option>
                            <option value=">">&gt;</option>
                            <option value="=">=</option>
                        </select>

                        <input type="number"
                               ng-model="filters[$index].comparedValue"
                               placeholder="value"
                               ng-change="cacheFilters()"/>
                        </span>
                    </td>

                    <td>
                        <span ng-if="!filter.numerical">
                        <label>Filter out?</label>
                        <input type="checkbox"
                               ng-model="filters[$index].filtered"
                               ng-change="cacheFilters()"/>
                        </span>
                    </td>

                    <td>
                        <select ng-model="filters[$index].bool"
                                ng-if="filters.length > 1 && $index != filters.length - 1"
                                ng-change="cacheFilters()">
                            <option value="and">and</option>
                            <option value="or">or</option>
                        </select>
                    </td>
                </tr>
            </table>

                <!--submit button-->
            <div>
                <button ng-click="submitForm($event)"
                        ng-disabled="submitDisabled()">submit
                </button>
            </div>

                <!--download file button-->
            <div ng-hide="!filename">
                <div>{{ filename }}, {{ count }} PDB analyzed</div>
                <button ng-click="downloadFilter($event)">download</button>
                <a href="#?w=500" rel="query_popup" class="poplight">
                    <button>view query</button>
                </a>
                <button ng-click="clearFilters($event)">clear filter</button>
            </div>
            </span>


            <div id="query_popup" class="popup_block">

                <a href="#" class="close">
                    <img src="/static/close.png" class="btn_close" title="Close Window" alt="Close"/>
                </a>

                <pre>{{query}}</pre>

                <a class="close" href="javascript:void(0)">close</a>
            </div>

        </section>

        {% endraw %}
        <!--end angular code-->

        <!--upload form-->
        <section class="upload-form">

            <h2>Generate graphs</h2>
            <form method=post enctype=multipart/form-data>
                <div class="form-row">
                    <label>Upload PDB IDs</label>
                    <input type=file name=file>
                </div>

                <div class="form-row">
                    <label>Filter out PDBs?</label>
                    <input type="checkbox" name="filter-pdbs">
                </div>

                <div class="form-row">
                    <label>Minimum bucket size</label>
                    <input type="number" name="min-bucket-size" min=0 value=20 step=1>
                </div>

                <div class="form-row">
                    <input type=submit value="Build graphs">
                </div>
            </form>

        </section>

    </div>

</header>

<main>

    <!--graphs-->
    {% if name != None %}
    <h1>Graphs for {{ name }}</h1>
    {% endif %}

    <div class="graph-container">

        <div class="graph" id="scatter">
            {{ scatter_div | safe }}
            {{ scatter_script | safe }}
        </div>

        <div class="graph" id="means">
            {{ means_div | safe }}
            {{ means_script | safe }}
        </div>

    </div>

    </div>

</main>

<footer>
    &copy; Olivia Wan, 2019
    &middot; <a href="https://github.com/omwan/hbonds-web" target="_blank">GitHub</a>
</footer>

<script src="{{ url_for('static', filename='controller.js') }}"></script>

</body>
</html>
