<!DOCTYPE html>
<html>
<head>
    <title>SSI Hydrogen Bonds</title>

    <!--angular -->
    <script src="https://code.jquery.com/jquery-1.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!--bokeh -->
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
          rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

    <!--fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!--popup script -->
    <script type="text/javascript" src="{{ url_for('static', filename='popup.js') }}"></script>

    <!--app script + styles -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!--popup-->
<a href="#?w=500" rel="popup_name" class="poplight">
    <i class="fa fa-info-circle"></i>
</a>

<div id="popup_name" class="popup_block">
    <h3>How to use</h3>
    <p>
    <ol>
        <li>Select filter type from "Header type" menu and click "Add filter" button</li>
        <li>Select filter value from dropdown if present, or select operator and comparison value</li>
        <li>Repeat as needed to add more filter criteria</li>
        <li>Toggle the boolean operator (and vs or) for multiple criteria</li>
        <li>To remove a filter, click the "Delete filter" button to the right of the filter</li>
        <li>When all filters are selected, click the "Submit" button to generate scatter plot data</li>
        <li>Click "Download" button to download .csv file with data</li>
        <li>Upload downloaded file to input labeled "Upload file"</li>
        <li>Enter minimum bucket size for means graph</li>
        <li>Click "Submit" button to generate graphs</li>
    </ol>
    </p>
    <p>
        <a href="mailto:wan.o@husky.neu.edu">Contact</a>
    </p>

    <a class="close" href="javascript:void(0)">close</a>
</div>

<!--begin angular code-->
{% raw %}

<div class="app" ng-app="app" ng-controller="controller">

    <div class="spinner" ng-if="isLoading">
        <i class="fa fa-pulse fa-spinner"></i>
    </div>

    <div>
        <label>Header type</label>
        <select ng-model="header"
                ng-init="header = 'source'">
            <option ng-repeat="(key, value) in labels" value="{{ key }}">{{ value }}</option>
        </select>
        <button ng-click="addFilter($event)">add filter</button>
    </div>

    <table>
        <tr ng-repeat="filter in filters">
            <td>
                <button ng-click="deleteFilter($event, $index)">delete filter</button>
            </td>
            <td>
                <label>{{ filter.label }}: </label>
            </td>
            <td>
                <select ng-model="filters[$index].name"
                        ng-if="!filter.numerical"
                        ng-init="filters[$index].name = columns[filter.header][0].value">
                    <option ng-repeat="col in columns[filter.header]"
                            value="{{ col.value }}">
                        {{ col.value }}
                    </option>
                </select>

                <span ng-if="filter.numerical">
                    <select ng-model="filters[$index].comparator"
                            ng-init="filters[$index].comparator = '<'">
                        <option value="<">&lt;</option>
                        <option value=">">&gt;</option>
                        <option value="=">=</option>
                    </select>

                    <input type="text"
                           ng-model="filters[$index].comparedValue"
                           placeholder="value"/>
                </span>
            </td>
            <td>
                <span ng-if="!filter.numerical">
                    <label>Filter out?</label>
                    <input type="checkbox" ng-model="filters[$index].filtered"/>
                </span>
            </td>
            <td>
                <select ng-model="filters[$index].bool"
                        ng-init="filters[$index].bool = 'and'"
                        ng-if="filters.length > 1 && $index != filters.length - 1">
                    <option value="and">and</option>
                    <option value="or">or</option>
                </select>
            </td>
        </tr>
    </table>

    <!--<label>Filter on hydrogen bond types?</label>-->
    <!--<input type="checkbox" ng-model="filters.hbondType"/>-->

    <button ng-click="submitForm($event)">submit</button>

    <div ng-if="filename">
        <div>{{ filename }}</div>
        <button ng-click="downloadFilter($event)">download</button>
    </div>

</div>

{% endraw %}
<!--end angular code-->

<!--flask template code-->
<div class="container">

    <!--upload form-->
    <div class="upload-form">

        <form method=post enctype=multipart/form-data>
            <div class="form-row">
                <input type=file name=file>
            </div>

            <div class="form-row">
                <label>Minimum bucket size</label>
                <input type="number" name="min-bucket-size" min=0 value=20>
            </div>

            <div class="form-row">
                <input type=submit value=Submit>
            </div>
        </form>

    </div>

    <!--graphs-->
    {% if name != None %}
    <h1>Graph for {{ name }}</h1>
    {% endif %}

    <div class="graph-container">

        <div class="graph" id="scatter">
            {{ scatter_div | safe }}
            {{ scatter_script | safe }}
        </div>

        <div class="graph" id="means">
            {{ means_div | safe }}
            {{ means_script | safe }}
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='controller.js') }}"></script>

</body>
</html>
