body {
    font-family: open sans, serif;
    font-size: 15px;
}

.container {
    padding-top: 20px;
    max-width: 1500px;
    margin: auto;
    text-align: center;
}

.upload-form {
    border: 1px solid #eee;
    padding: 20px 20px 10px 20px;
    width: 200px;
    margin: 0 auto 20px auto;
    text-align: left;
}

.form-row {
    margin-bottom: 10px;
}

.graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.graph {
    margin: 20px;
    width: 600px;
}