<!DOCTYPE html>
<html>
<head>
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body ng-app="app" ng-controller="controller">

{% raw %}

<div ng-repeat="filter in filters">
    <label>{{ filter.label }}: </label>
    <select ng-model="filters[$index].name">
        <option ng-repeat="col in columns[filter.header]"
                value="{{ col.value }}">
            {{ col.value }}
        </option>
    </select>

    <label>Filter out?</label>
    <input type="checkbox" ng-model="filters[$index].filtered" />
</div>

<label>Header type</label>
<select ng-model="header">
    <option value="source">Source Organism</option>
    <option value="expressionHost">Expression Host</option>
</select>
<button ng-click="addFilter($event)">add filter</button>

<button ng-click="submitForm($event)">submit</button>

{% endraw %}


<script src="{{ url_for('static', filename='controller.js') }}"></script>

</body>
</html>