<!DOCTYPE html>
<html>
<head>
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
            rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% raw %}

<div class="app" ng-app="app" ng-controller="controller">

<div ng-repeat="filter in filters">
    <label>{{ filter.label }}: </label>
    <select ng-model="filters[$index].name">
        <option ng-repeat="col in columns[filter.header]"
                value="{{ col.value }}">
            {{ col.value }}
        </option>
    </select>

    <label>Filter out?</label>
    <input type="checkbox" ng-model="filters[$index].filtered"/>

    <button ng-click="deleteFilter($event, $index)">delete filter</button>
</div>

<div>
    <label>Header type</label>
    <select ng-model="header">
        <option value="source">Source Organism</option>
        <option value="expressionHost">Expression Host</option>
    </select>
    <button ng-click="addFilter($event)">add filter</button>
</div>

<button ng-click="submitForm($event)">submit</button>

<div ng-if="filename">
    <div>{{ filename }}</div>
    <button ng-click="downloadFilter($event)">download</button>
</div>

</div>

{% endraw %}

<div class="container">

    <div class="upload-form">

        <form method=post enctype=multipart/form-data>
            <div class="form-row">
                <input type=file name=file>
            </div>

            <div class="form-row">
                <input type="checkbox" name="filter-out" id="filter-out">
                <label for="filter-out">
                    Filter out?
                </label>

                <input type=submit value=Submit>
            </div>
        </form>

    </div>

    {% if name != None %}
        <h1>Graph for {{ name }}</h1>
    {% endif %}

    <div class="graph-container">

        <div class="graph" id="scatter">
            {{ scatter_div | safe }}
            {{ scatter_script | safe }}
        </div>

        <div class="graph" id="means">
            {{ means_div | safe }}
            {{ means_script | safe }}
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='controller.js') }}"></script>

</body>
</html>
